[color]
	ui = true
[user]
	name = taterbase
	email = shankga@gmail.com

[github]
  user = taterbase

[push]
	default = simple

[branch "master"]
		rebase = true
[branch]
		autosetuprebase = always
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
[spacemonkey]
	name = george
	user = george
	gerrithost = gerrit.spacemonkey.com
	gerritport = 29418
[core]
	editor = vim
